<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Reserves de material {% endblock %}</title>
<script src=" {{ STATIC_URL }}jquery-2.1.1.js"></script>
<link href="{{ STATIC_URL}}style.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL}}efects.js"></script>
</head>
<body>
<h1 class="titol">{% block titol %} Benvingut a Reserves de Material{% endblock %}</h1>
{% block login %}
<span class="login">

   <ul>
       {% if not user.is_authenticated %}
       <a href="{% url 'signup' %}">Registret</a>
       <a href="{% url 'ingresar' %}">Entra</a>
       {% elif user.is_authenticated %}
       Benvingut {{ user.username }}
       <a href="{% url 'logout' %}">Tenca la sessió</a>
       {% endif %}

   </ul>
</span>

{% endblock %}
{% include "nav.html" %}
{% block contingut %}{% endblock %}
{% block peu %}<footer><p>Un projecte fet per el S.I.D.</p></footer>{% endblock %}

</body>
</html>