{% extends 'base.html' %}

        {% block titol %}<h1 class="titol">Reserves de {{ nomuser }}</h1>{% endblock %}
{% block contingut %}


    {% if llista_pendent %}
        <h2>Les teves Reserves:</h2>
        <ul class="taula">
        {% for reserva in llista_pendent %}
            <li><a href="/reserves/{{ reserva.id }}/">{{ reserva.objecte }}</a> del {{reserva.data_inici}} fins {{reserva.data_final}} <a href="/reserves/retornar/{{ reserva.objecte.id }}/">Retornar</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No hi han reserves actualment.</p>
    {% endif %}
    <p>Històric de reserves:</p>
        <ul class="taula">
    {% for reserva in llista_tornades %}
            <li>{{ reserva.objecte }} del {{reserva.data_inici}} fins {{reserva.data_final}} <a href="/reserves/eliminar/{{ reserva.id }}/">Eliminar</a></li>
        {% endfor %}
        </ul>


{% endblock %}