{% extends 'base.html' %}
{% block contingut %}
{% if list_ult_reserves %}
    <span class="tipologies">Reserves Actuals:</span>
    <ul class="taula">
    {% for reserva in list_ult_reserves %}
        <li><a href="/reserves/{{ reserva.id }}/">{{ reserva.objecte }}</a> del {{reserva.data_inici}} fins {{reserva.data_final}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hi han reserves actualment.</p>
{% endif %}

{% if list_old %}
    <span class="tipologies">Reserves pasades:</span>
    <ul class="taula">
    {% for reserva in list_old %}
        <li><a href="/reserves/{{ reserva.id }}/">{{ reserva.objecte }}</a> del {{reserva.data_inici}} fins {{reserva.data_final}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hi ha res al historic.</p>
{% endif %}
{% endblock %}
